.skills{

}
.cards{
  padding: 5% 10%;
  display: flex; 
  flex-wrap: wrap; 
  gap:1%;
}

.cards img{
  width: 52px;
  height: 52px;
  margin-top: 40%;
  margin-left: 5%;
}
.cards h2{
  font-size: 24px;
  margin-left: 5%;
  margin-top: 1%;
  margin-bottom: 5%;
  font-weight: 400;
}

.card{
  width: 24%;
  height: 24%;
  background-color: grey;
  border-radius: .6rem;
}
.card:hover{
  background-color: var(--primary-color);
  transition-duration: 1s;
}